*.iml
.gradle
/local.properties
.idea
*.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/caches
.idea/compiler.xml
.idea/artifacts
.idea/deploymentTargetDropDown.xml
.idea/androidTestResultsUserPreferences.xml
.idea/assetWizardSettings.xml
.idea/modules.xml
gradle.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_

iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
androidApp/release